$board-width: 19em;
$off-white: #bbb;
$primary: #26c1b4;
$primary-dark: darken($primary, 20%);
$text: #333;

html {
  box-sizing: border-box;
  color: $text;
  font: {
    family: 'Roboto', sans-serif;
    size: 0.6rem;
  }
  height: 100vh;
  width: 100vw;

  @media (min-width: 21em) {
    font-size: 0.7rem;
  }
  @media (min-width: 25em) {
    font-size: 0.8rem;
  }
  @media (min-width: 30em) {
    font-size: 1rem;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: 45em;
  justify-content: center;
  width: 100%;
}


h1 {
  font-size: 3em;
  margin: 0 0 0.5em;
}
