$primary: #FFB732;
$board: darken($primary, 20%);

html {
  box-sizing: border-box;
  font-size: 1rem;
  height: 100vh;
  width: 100vw;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  align-items: center;
  background-color: $primary;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
